<div class="page-header" data-ng-controller="HeaderController">
  <div class="logo pull-left">
    <a class="navbar-brand" ui-sref="home" mean-token="'site-title'">Mafia City</a>
  </div>

  <div class="left pull-left">
    <ul class="navbar-nav nav">
      <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
          <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
      </li>
      <li>
      	      	
      </li>
    </ul>
  </div>

  <div class="account">
    <div class="text-edit">
      <div class="pull-right" data-ng-show="global.authenticated" mean-token-editable></div>
    </div>
    <ul class="navbar-nav nav" data-ng-hide="global.authenticated">
    	<li>
    		<a href="/#!/login">Connexion</a>
    	</li>        
    </ul>
    <ul class="navbar-nav nav" data-ng-show="global.authenticated">
    	<li>
    		<a href="#">{{global.user.name}}</a>
    	</li>
    	<li>
    		<a href="/logout">Logout</a>	
    	</li>
    </ul>
  </div>
</div>
